################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CarCarRocket/.vs/CarCarRocket/v14/.suo
/CarCarRocket/Library
/CarCarRocket/Temp
/CarCarRocket/Test-Android
